 /* div class 0 formatting border---------------------------------------------------------------------------------------------------------------------- */
.div0{
    margin: 50px;
    background-color: black;
    display: inline-block;
}

/* table div class 1 formatting border---------------------------------------------------------------------------------------------------------------------- */
table,td,th{
    border: 1px solid black;
}
/* displaying div class 1 all table in line  */
.d1{
    margin: 30px;
    display: inline-block;
}
/* table formatting */
#d1t1{
    color:lightgray;
    width: 100px;
    background-color: brown;
}
/* div 2 formatting---------------------------------------------------------------------------------------------------------------------- */
.d2{
    background-color: lightgoldenrodyellow;
}
/* div 3 formatting---------------------------------------------------------------------------------------------------------------------- */
.d3{
    background-color: lightgreen;
}
/* div 4 formatting contact links---------------------------------------------------------------------------------------------------------------------- */
/* .d4{
    
} */
/* anchor of div 4 contact link  formatting */
.x1{
    color: aliceblue;
    margin: 120px;
    border-radius: 50%;
    border-style: double;
    background-color: brown;
}
#top{
    background-color: lightsalmon;
}
.xz1{
    margin: 430px;
}
#btn1{
    margin-left: 410px;
    margin-right: 440px;
}
#icon{
    margin: 155px;
    display: inline-block;
    
}
#h1x{
    margin: 120px;
}

/* all headers formatting h1---------------------------------------------------------------------------------------------------------------------- */
h2,h1,h3{
    text-align: center;
}
